<!doctype html>
<html>
<head>
    <title>Thunderr Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" src="{{ url_for('static', filename='form.js') }}"></script>
</head>
<body>
<div class="container">

    <form class="well form-horizontal" action="{{ url_for('submit') }}" method="POST"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>Join Us Today!</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">First Name</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Last Name</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Phone #</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="phone" placeholder="+91 1234567890" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->
      
<div class="form-group">
  <label class="col-md-4 control-label">Address</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="address" placeholder="Address" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->
 

<div class="form-group">
  <label class="col-md-4 control-label">Zip Code</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="zip" placeholder="Zip Code" class="form-control"  type="text">
    </div>
</div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">Age</label>  
   <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="age" placeholder="Age" class="form-control" type="text">
    </div>
  </div>
</div>

    
<div class="form-group">
  <label class="col-md-4 control-label">Blood Group</label>  
   <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="Bloodg" placeholder="Blood Group" class="form-control" type="text">
    </div>
  </div>
</div>
<!-- radio checks -->
 <div class="form-group">
                        <label class="col-md-4 control-label">Looking for full-time or part-time ?</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="full-time" value="part-time" /> Part-time
                                </label>
                            <br>
                                <label>
                                 <input type="radio" name="full-time" value="full-time" /> Full-time
                                </label>
                            </div>
                        </div>
                    </div>

    
 <div class="form-group">
                        <label class="col-md-4 control-label">Previously employed ?</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="employed-y" value="yes" /> Yes
                                </label>
                           <br>
                                <label>
                                    <input type="radio" name="employed-y" value="no" /> No
                                </label>
                            </div>
                        </div>
                    </div>    
    
 <div class="form-group">
                        <label class="col-md-4 control-label">Do you have license ?</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="license-y" value="yes" /> Yes
                                </label>
                                <br>
                                <label>
                                    <input type="radio" name="license-y" value="no" /> No
                                </label>
                            </div>
                        </div>
                    </div>    
    
 <div class="form-group">
                        <label class="col-md-4 control-label">Do you have bank account ?</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="bank-y" value="yes" /> Yes
                                </label>
                            <br>
                                <label>
                                    <input type="radio" name="bank-y" value="no" /> No
                                </label>
                            </div>
                        </div>
                    </div>
    
    
 <div class="form-group">
                        <label class="col-md-4 control-label">Do you have knowledge on computers ?</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="comp-y" value="yes" /> Yes
                                </label>
                            <br>
                                <label>
                                    <input type="radio" name="comp-y" value="no" /> No
                                </label>
                            </div>
                        </div>
                    </div> 
    <div class="form-group">
                        <label class="col-md-4 control-label">Do you have a smart phone ?</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="smartphone-y" value="yes" /> Yes
                                </label>
                            <br>
                                <label>
                                    <input type="radio" name="smartphone-y" value="no" /> No
                                </label>
                            </div>
                        </div>
                    </div>
<!-- Text area -->
  
<div class="form-group">
  <label class="col-md-4 control-label">Expected Salary</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
        	<input type="text" class="form-control" name="Salary" placeholder="Salary">
  </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label">Languages known</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        <textarea class="form-control" name="languages" placeholder="Languages"></textarea>
  </div>
  </div>
</div>

<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
      <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    <!-- /.container -->
</body>
</html>